body{
	background-color: #E5E5E5;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 16px;
	line-height: 19,5;
	outline-width: 400;
	color: #AE7C78;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.Botanika__wrapper{
	max-width: 1440px;
	min-width: 768px;
	background-color: #ffffff;
	margin: 0 auto;
	font-size: inherit;

}
.header{
	min-height: 90px;
	padding-top: 26px;
}
.nav{

	position: relative;
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	min-height: 64px;
}

.logo__img{
	width: 100px;
	z-index: 2;
	height: auto;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-right: -50px;
	margin-top: -16px;
}
.nav__list{
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: inherit;
	width: 83%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
	min-height: 64px;
}
.nav__item{
	
	margin: auto 0;
	margin-right: 2%;	
}
.nav__item:nth-of-type(3),
.nav__item:nth-of-type(5),
.nav__item:nth-of-type(6){
	
	margin-left:  2%;
	margin-right: 0;	
}

.nav__item:nth-of-type(4){	
	margin-left:  18%;
	margin-right: 0;	
}


.nav__link{
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
.content__wrapper{
	width: 83%;
	margin: 0 auto;	
}
.content__main{
	min-height: 544px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
}
.main__caption,
.discount__title{
	font-family: "Playfair Display", "Arial", sans-serif;
	font-size: 275%;
	font-weight: 400;
	line-height: 59px;
	margin-bottom: 24px;
	width: 384px;
}
.main__caption{
	max-width: 384px;
}
.main__caption--italic{
	font-style: italic;
}
.main__desc{
	width: 384px;
	font-family: inherit;
	font-size: 150%;
	font-weight: 400;
	line-height: 29px;
	margin-bottom: 64px;
}
.btn{
	display: block;
	color: #ffffff;
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	box-sizing: border-box;
	padding: 30px 0;
	text-align: center;
	background-color: #D89999;
	width: 285px;
	height: 80px;
	border-radius: 40px;
	text-decoration: none;
	border: none;
}
.main__img{	
	border-radius: 10px;
	max-width: 100%;
	height: auto;

}
.main__img--bot{
	margin: 0;
	margin-top: 140px;
	width: 386px;
	height: 404px;
}
.main__img--top{
	margin: 0;
	margin-top: 82px;
	width: 387px;
	height: 420px;
}
.benefits{
	min-height: 108px;
	margin-bottom: 80px;
}
.benefits__delivery::before{
	content: url(../img/benefits__delivery.svg);
	display: block;
	width: 82px;
	height: 52px;
	margin-right: 20px;
}

.benefits__bouquet:before{
	content: url(../img/benefits__bouquet.svg);
	display: block;
	width: 34px;
	height: 52px;	
}
.benefits__photo:before{
	content: url(../img/benefits_photo.svg);
	display: block;
	width: 59px;
	height: 52px;
}
.benefits_subTitle{
	font-weight: 500;
	margin-bottom: 8px;
	width: 285px;
}
.benefits_desc{
	width: 285px;
}
.slider{
	min-height: 546px;
	margin-bottom: 80px;
}
.slider__title,
.catalog__item_title,
.steps__title,
.news__title,
.reviews__title,
.contacts__title{
	font-family: "Playfair Display", "Arial", sans-serif;
	font-size: 225%;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
	margin-bottom: 36px;
}
.slider__card_title,
.slider__card_price{
	font-weight: 500;
	font-size: 24px;		
	margin-bottom: 20px;
	line-height: 29px;
}
.slider__card_desc,
.slider__card_size{
	margin-bottom: 24px;
	width: 387px;
}
.slider__card_price{
	margin-bottom: 64px;
}
.slider__btn{
	position: relative;
	width: 50px;
	height: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.arrow{
	border-radius: 1px;
	position: absolute;
	top: 10px;
	right: 0px;
	display: block;
	width: 50px;
	height: 2px;
	background-color: #AE7C78;
}
.arrow__back{
	transform: rotate(180deg) translateY(-2px);
}
.arrow::before{
	position: absolute;
	content: '';
	top: -3px;
	right: -1px;
	display: block;
	border-radius: 1px;
	width: 10px;
	height: 2px;
	background-color: #AE7C78;
	transform: rotate(45deg);
}
.arrow::after{
	position: absolute;
	content: '';
	top: 3px;
	right: -1px;
	display: block;
	border-radius: 1px;
	width: 10px;
	height: 2px;
	background-color: #AE7C78;
	transform: rotate(-45deg);
}
.catalog{
	margin-bottom: 80px;
	
	position: relative;
}
.catalog__list{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;	
	
}
.catalog__item{
	width: 32%;
	display: block;
	position: relative;
	
}

.catalog__item_link{	
	border: 1px solid transparent;
	display: block;
	border-radius: 10px;
	height: 442px;	
	text-decoration: none;
	color: #ffffff;
}
.img__wedding{
	background: url("../img/catalog__wedding.jpg") no-repeat center;
}
.img__pion{
	background: url("../img/catalog__pion.jpg") no-repeat center;
}
.img__change{
	background: url("../img/catalog__change.jpg") no-repeat center;
}
.catalog__item_title{
	margin-top: 183px;
	margin-bottom: 0;
	text-align: center;	
}
.catalog__item_desc{
	margin-top: 8px;
	text-align: center;	
}
.discount{
	display: grid;
	grid-template-columns: 51% 49%;
	box-sizing: border-box;
	gap: auto;
	min-height: 391px;
	background-color: #AE7C78;
	padding-top: 40px;
	padding-left: 8.5%;
	grid-template-areas: "title img"
	"desc img";
}
.discount__title{
	max-width: 80%;
	color: #ffffff;
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
	grid-area: title;
}
.discount__desc{
	font-size: 150%;
	line-height: 29px;
	color: #ffffff;
	max-width: 80%;
	margin: 0;
	padding: 0;
	margin-bottom: 64px;
	grid-area: desc;
}
.discount::after{
	content: '';
	grid-area: img;
	margin-top: -40px;
	max-width: 100%;
	overflow: hidden;
	background: url(../img/discount_img.jpg) no-repeat center;
}
.discount__img{
	grid-area: img;
	margin-top: -40px;
	max-width: 100%;
}
.steps__list{
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.steps__card--order::before{
	content: url(../img/steps__1.svg);
	display: block;
	width: 82px;
	height: 52px;
	margin-right: 20px;
}

.steps__card--details::before{
	content: url(../img/steps__2.svg);
	display: block;
	width: 34px;
	height: 52px;	
}
.steps__card--payment::before{
	content: url(../img/steps__3.svg);
	display: block;
	width: 59px;
	height: 52px;
}
.steps__card--delivery::before{
	content: url(../img/steps__4.svg);
	display: block;
	width: 59px;
	height: 52px;
}



.map__img{
	width: 100%;
	height: auto;
}
.contacts__block{
	width: 386px;
	min-height: 520px;
	background-color: #F7FAFC;
	box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
	border-radius: 12px;
	padding: 0;
	padding-top: 40px;
	padding-left: 35px;
}
.contacts__value{
	font-weight: 500;
}

@media screen and (max-width: 1280px) {
 	.logo__img{
		width: 90px;
	}
  	.nav__list{	
		font-size: 90%;	
	}
	.Botanika__wrapper{
		font-size: 90%;	
	}
}
@media screen and (max-width: 1024px) {
 
  .nav__list{	
		font-size: 80%;	
	}

	.logo__img{
	width: 80px;
	}
	.Botanika__wrapper{
		font-size: 80%;	
	}
	.nav__item{			
		margin-right: 2%;	
	}	
	.nav__item:nth-of-type(5),
	.nav__item:nth-of-type(6){	
	margin-left:  2%;		
}
}